.divone {
  background-color: red;
  display: flex;
  height:100px;
  width: 100px;
}

.divtwo {
  background-color: blue;
  height:100px;
  width: 100px;
}

.divthree {
  background-color: orange;
  height:100px;
  width: 100px;
}

.divfour {
  background-color: green;
  height:100px;
  width: 100px;
}
.container3 {
  background-color: purple;
  display:flex;
  justify-content: center;
}

.container1 {
  background-color: yellow;
  width: 84%;
  display: flex;
  justify-content: space-around;
}

.container2 {
  background-color: pink;
  display: flex;
  justify-content: space-around;
}
